*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#__nuxt,
#__layout {
  width: 100%;
  height: 100%;

  font-family: 'Montserrat';

  --second:#5200FF;
  --primary: #FFF;
  --third:#02023b;
}

